.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.filter-card {
  padding: 10px;
  margin-bottom: 10px;
}

.list-card {
  flex: 1;
  overflow-y: auto;
}

.right-panel {
  flex: 1;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}
.date {
  font-size: 12px;
  color: gray;
}
.selected {
  background-color: #e3f2fd !important; /* light blue */
  border-left: 4px solid #1976d2; /* material blue */
}

.filter-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-field {
  width: 100%;
  max-width: 250px;
}

.travel-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.travel-row .user {
    font-weight: 500;
    font-size: 14px;
    width: 46%;
}

.travel-row .date {
  font-size: 12px;
  color: gray;
}

.travel-list-item{
  cursor: pointer; 
  display: flex; 
  align-items: center;
}

.travel-list-item:hover{
  background-color: #f0f0f0; /* Or any desired color */
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 550px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.map-panel {
  flex: 1;
}

/* .travel-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */
.travel-person{
  width: 30px;
  height: 30px;
  background: "no-repeat";
}

.no-records{
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;    /* Centers content vertically */
  height: 100vh; 
}

.location{
  font-size: 13px;
  color: gray;
  width: 20%;
}